{% extends 'base.html.twig' %}
{% block title %} Pokedex - N13 {% endblock %}
{% block content %}
<ol id="pokedex" class="m-0 p-0 text-center">
    {% for pokemon in allPokemon.results %}
        <li class="d-inline-flex m-3">
        <div class="card" style="width: 10rem;">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ offset + loop.index}}.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p>{{offset + loop.index}}</p>
                <h5 class="card-title">{{ pokemon.name }}</h5>
                <a href="#" class="btn btn-primary">More</a>
            </div>
        </div>
        </li>
       
    {% endfor %}
</ol>
{% endblock %}